apps/web/public/admin/robot-blueprint.json
{
  "name": "SurfSense Viral Robot 🤖",
  "description": "Scénario d'automatisation pour poster les alertes SurfSense sur Instagram, Facebook et TikTok.",
  "flow": [
    {
      "id": 1,
      "module": "webhook:CustomWebhook",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Webhook SurfSense"
        }
      }
    },
    {
      "id": 2,
      "module": "instagram-business:createPhotoPost",
      "version": 1,
      "parameters": {
        "account": "YOUR_INSTAGRAM_CONNECTION_ID"
      },
      "mapper": {
        "photoUrl": "{{1.image}}",
        "caption": "{{1.text}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Post Instagram (Photo)"
        }
      }
    },
    {
      "id": 3,
      "module": "instagram-business:createReelPost",
      "version": 1,
      "parameters": {
        "account": "YOUR_INSTAGRAM_CONNECTION_ID"
      },
      "mapper": {
        "videoUrl": "{{1.image}}",
        "caption": "{{1.text}}",
        "coverUrl": "{{1.image}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150,
          "name": "Post Instagram (Reel)"
        }
      }
    },
    {
      "id": 4,
      "module": "instagram-business:createStory",
      "version": 1,
      "parameters": {
        "account": "YOUR_INSTAGRAM_CONNECTION_ID"
      },
      "mapper": {
        "mediaUrl": "{{1.image}}",
        "caption": "{{1.text}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 300,
          "name": "Post Instagram (Story)"
        }
      }
    },
    {
      "id": 5,
      "module": "facebook-pages:createPost",
      "version": 1,
      "parameters": {
        "account": "YOUR_FACEBOOK_CONNECTION_ID"
      },
      "mapper": {
        "link": "{{1.image}}",
        "message": "{{1.text}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Post Facebook"
        }
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
